footer{
    background-color: #343A40;
    text-align: center;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.359);
    font-size: 15px;
    padding: 30px;

    a{
        color: rgba(255, 255, 255, 0.785);
     
    }
}